@charset "UTF-8";

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-SemiBold.woff2") format("woff2"), url("../fonts/Comfortaa-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Medium.woff2") format("woff2"), url("../fonts/Comfortaa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/MontserratAlternates-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../fonts/MontserratAlternates-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/MontserratAlternates-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/MontserratAlternates-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/*Обнуление*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

/*--------------------------------------------*/

body {
  font-family: MontserratAlternates;
  font-size: 15px;
  -webkit-tap-highlight-color: transparent;
}

.main__catalog-slider-title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #989898;
}

body::-webkit-scrollbar-thumb {
  background-color: #565656;
  border-radius: 7px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 64, 110, 0.5);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 64, 110, 0.5);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 64, 110, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 64, 110, 0.5);
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

body._active {
  overflow: hidden;
}

.header__body {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  margin-right: 15px;
}

.header__menu._active .header__menu-list {
  display: block;
}

.header__menu-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #FF406E;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-icon-burger {
  width: 18px;
  height: 12px;
  position: relative;
}

.header__menu-icon-burger span {
  position: absolute;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  left: 0;
}

.header__menu-icon-burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-icon-burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-icon-text {
  display: none;
}

.header__menu-list {
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 0;
  -webkit-box-shadow: 6px 12px 15px rgba(191, 31, 89, 0.42);
          box-shadow: 6px 12px 15px rgba(191, 31, 89, 0.42);
  border-radius: 0px 0px 10px 0px;
  max-width: 290px;
  width: 100%;
  display: none;
  z-index: 10;
  overflow-Y: scroll;
  max-height: 560px;
}

.header__menu-list::-webkit-scrollbar {
  width: 0;
}

.header__menu-item {
  border-top: 1px solid #E1B3F6;
}

.header__menu-item:last-child {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #F42758;
}

.header .hover:hover {
  background-color: #E1B3F6;
  color: #F42758;
}

.header__menu-link._active + .header__sub-menu-list {
  display: block;
}

.header__menu-link._active {
  color: #F42758;
}

.header__menu-link-image {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__menu-link._active .header__menu-link-image {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__menu-item:not(:nth-child(1)) .header__sub-menu-list {
  overflow-y: scroll;
  height: 120px;
  margin-bottom: 15px;
  padding-bottom: 0;
}

.header__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: black;
  padding: 15px;
}

.header__sub-menu-list {
  padding-left: 15px;
  max-width: 275px;
  width: 100%;
  display: none;
}

.header__sub-menu-list::-webkit-scrollbar {
  width: 4px;
}

.header__sub-menu-list::-webkit-scrollbar-track {
  background-color: #E1B3F6;
}

.header__sub-menu-list::-webkit-scrollbar-thumb {
  background-color: #F42758;
  border-radius: 5px;
}

.header__sub-menu-item {
  font-size: 15px;
  line-height: 17px;
}

.header__sub-menu-item span {
  padding: 10px 0;
  max-width: 230px;
}

.header__sub-menu-link {
  padding: 8px 0;
  display: inline-block;
  color: black;
  width: 100%;
}

.header__sub-menu-link:last-child {
  padding-bottom: 15px;
}

.header__search._active .header__search-wrapper {
  display: block;
}

.header__search-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #FF406E;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__search-wrapper {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #F42758;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.header__search-box {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  padding: 11px 20px 11px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__search-box:focus-within {
  -webkit-box-shadow: 0 0 5px #FF406E;
          box-shadow: 0 0 5px #FF406E;
}

.header__search-txt {
  background-color: transparent;
}

.header__phone {
  display: none;
}

.header__phone-icon-close {
  display: none;
}

.header__inst {
  display: none;
}

.header__logo {
  margin: 0 auto;
}

.header__vk {
  display: none;
}

.header__profile {
  margin-right: 15px;
}

.hover-two:hover {
  background-color: #FD5E7A;
  color: #fff;
  border: 1px solid #FD5E7A;
}

.hover-two:hover .header__menu-icon-burger::after,
.hover-two:hover .header__menu-icon-burger::before,
.hover-two:hover .header__menu-icon-burger span {
  background-color: #fff;
}

.footer {
  background-color: #FAD4CB;
  padding-bottom: 60px;
  padding-top: 40px;
}

.footer__body-block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__feedback {
  margin-bottom: 30px;
}

.footer__feedback-link {
  display: inline-block;
  max-width: 320px;
  width: 100%;
  padding: 16px 40px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7B9B), color-stop(126.51%, #C8162C));
  background: -o-linear-gradient(top, #FF7B9B 0%, #C8162C 126.51%);
  background: linear-gradient(180deg, #FF7B9B 0%, #C8162C 126.51%);
  -webkit-box-shadow: 2px 3px 13px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.footer__rating-title {
  font-size: 14px;
  line-height: 140%;
}

.footer__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.footer .rating__value {
  width: 24px;
  font-size: 15px;
}

.footer .rating__body {
  position: relative;
}

.footer .rating__body::before {
  content: "★★★★★";
  color: #B6B6B6;
}

.footer .rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.footer .rating__active::before {
  content: "★★★★★";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FDCE06;
}

.footer .rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer .rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.footer__icons {
  margin-bottom: 25px;
}

.footer__icons img {
  width: 100%;
  max-width: 290px;
}

.footer__body-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__info {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
}

.main__banner {
  background: #FFE2DC;
  position: relative;
  z-index: 0;
  margin-bottom: 60px;
}

.main__banner-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

.no-webp .main__banner-body::before{
  background: url("../img/bg-banner.png"); }

.main__banner-body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.main__banner-title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  padding-top: 40px;
  padding-bottom: 15px;
}

.main__banner-list {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  margin-bottom: 10px;
}

.main__banner-body-block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__banner-body-image {
  width: 290px;
  position: relative;
}

.main__catalog-slider {
  margin-bottom: 50px;
}

.main__catalog-slider-title {
  margin-bottom: 50px;
}

.swiper-catalog {
  width: 100%;
  height: 100%;
  margin: 0 -20px;
  padding: 0 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.swiper-wrapper-catalog {
  margin-bottom: 50px;
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  overflow: hidden;
}

.product__image img {
  width: 100%;
  height: 100%;
}

.product__content {
  padding: 20px 20px 0 20px;
  background-color: #F8F0EF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75px;
          flex: 1 1 75px;
}

.product__title {
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
}

.product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F0EF;
  padding: 0 20px 20px 20px;
}

.product__sale {
  font-family: Comfortaa;
  font-size: 14px;
  line-height: 16px;
  text-decoration: line-through;
}

.product__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  font-family: Comfortaa;
  color: #F42758;
}

.product__btn {
  padding: 8px 23px;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7B9B), color-stop(126.51%, #C8162C));
  background: -o-linear-gradient(top, #FF7B9B 0%, #C8162C 126.51%);
  background: linear-gradient(180deg, #FF7B9B 0%, #C8162C 126.51%);
  -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.swiper-button-prev-catalog {
  display: none;
}

.swiper-button-next-catalog {
  display: none;
}

.swiper-button-prev::after {
  content: url(../img/svg/left.svg);
  position: absolute;
  top: -40px;
  left: -15px;
}

.swiper-button-next::after {
  content: url(../img/svg/right.svg);
  position: absolute;
  top: -40px;
  right: -15px;
}

.swiper-scrollbar-catalog {
  background-color: #E1B3F6;
  height: 4px;
  margin-bottom: 20px;
}

.swiper-scrollbar-drag {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF7B9B), color-stop(126.51%, #C8162C));
  background: -o-linear-gradient(top, #FF7B9B 0%, #C8162C 126.51%);
  background: linear-gradient(180deg, #FF7B9B 0%, #C8162C 126.51%);
  border-radius: 4px;
  height: 22px;
  top: -10px;
}

@media (min-width: 600px) {
  .main__banner-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 767px) {
  .footer__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__body-block1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }

  .footer__body-block2 {
    width: 50%;
  }

  .main__banner-title {
    font-size: 30px;
  }

  .main__banner-list {
    font-size: 16px;
  }

  .main__banner-body-image {
    width: 380px;
  }

  .main__banner-body-block1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__banner-body-block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 991px) {
  .header__menu-item:first-child {
    display: none;
  }

  .header__search {
    display: block;
  }

  .header__search-icon {
    display: none;
  }

  .header__search-wrapper {
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    width: auto;
  }

  .header__search-wrapper .container {
    padding: 0;
    margin: 0;
  }

  .header__search-box {
    margin-top: 0;
    width: 267px;
    border: 1px solid rgba(255, 64, 110, 0.5);
    border-radius: 5px;
  }

  .header__phone {
    margin-right: 15px;
    display: block;
  }

  .header__phone._active .header__phone-list {
    display: block;
  }

  .header__phone-icon {
    font-size: 17px;
    line-height: 22px;
    height: 40px;
    border: 1px solid #FF406E;
    padding: 0 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 263px;
    border-radius: 5px;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__phone-icon svg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }

  .header__phone-list {
    position: absolute;
    top: 70px;
    width: 360px;
    display: none;
    z-index: 4;
  }

  .header__phone-list li {
    border-top: 1px solid #E1B3F6;
  }

  .header__phone-link {
    width: 100%;
    padding: 12px 6px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: black;
    background-color: #fff;
  }
}

@media (min-width: 1032px) {
  .main__banner-body-image {
    width: 500px;
    -webkit-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .main__banner-title {
    font-size: 50px;
  }

  .main__banner-list {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .header__body {
    position: relative;
  }

  .header__menu {
    margin-right: 38px;
  }

  .header__menu._active .header__menu-icon {
    background-color: #F42758;
    height: 70px;
    border-radius: 0;
    color: #fff;
  }

  .header__menu._active .header__menu-icon-burger span {
    opacity: 0;
    visibility: hidden;
  }

  .header__menu._active .header__menu-icon-burger::before {
    background-color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 50%;
  }

  .header__menu._active .header__menu-icon-burger::after {
    background-color: #fff;
    top: 50%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__menu-icon {
    width: 123px;
    border-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu-icon-burger {
    margin-right: 10px;
  }

  .header__menu-item:last-child {
    display: none;
  }

  .header__menu-icon-text {
    display: block;
    font-size: 18px;
    line-height: 22px;
  }

  .header__search {
    margin-right: 38px;
  }

  .header__inst {
    display: block;
  }

  .header__vk {
    display: block;
    margin-right: 52px;
  }

  .header__phone {
    margin-right: 47px;
  }

  .header__phone._active .header__phone-icon {
    background-color: #F42758;
    height: 70px;
    border-radius: 0;
    color: #fff;
  }

  .header__phone._active .header__phone-icon svg {
    display: none;
  }

  .header__phone._active .header__phone-icon-close {
    display: block;
    margin-right: 10px;
  }

  .header__profile {
    margin-right: 30px;
  }

  .main__banner-body-image {
    width: 500px;
    -webkit-transform: translate(-20%, 0);
        -ms-transform: translate(-20%, 0);
            transform: translate(-20%, 0);
  }

  .main__banner-title {
    font-size: 50px;
  }

  .main__banner-list {
    font-size: 25px;
  }

  .swiper-scrollbar-catalog {
    display: none;
  }

  .swiper-button-next-catalog {
    display: block;
  }

  .swiper-button-prev-catalog {
    display: block;
  }
}

.webp .main__banner-body::before{ background: url(../img/bg-banner.webp); }