@charset "UTF-8";
@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Bold.woff2") format("woff2"), url("../fonts/Comfortaa-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-SemiBold.woff2") format("woff2"), url("../fonts/Comfortaa-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Comfortaa;
  font-display: swap;
  src: url("../fonts/Comfortaa-Medium.woff2") format("woff2"), url("../fonts/Comfortaa-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Medium.woff2") format("woff2"), url("../fonts/MontserratAlternates-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-SemiBold.woff2") format("woff2"), url("../fonts/MontserratAlternates-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Bold.woff2") format("woff2"), url("../fonts/MontserratAlternates-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: MontserratAlternates;
  font-display: swap;
  src: url("../fonts/MontserratAlternates-Regular.woff2") format("woff2"), url("../fonts/MontserratAlternates-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background-color: transparent;
  cursor: pointer;
}

span {
  display: inline-block;
}

/*--------------------------------------------*/
body {
  font-family: MontserratAlternates;
  font-size: 15px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #989898;
}

body::-webkit-scrollbar-thumb {
  background-color: #565656;
  border-radius: 7px;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 64, 110, 0.5);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 64, 110, 0.5);
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 64, 110, 0.5);
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 64, 110, 0.5);
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex: 1 0 auto;
}

.header__body {
  height: 70px;
  display: flex;
  align-items: center;
}
.header__menu {
  margin-right: 15px;
}
.header__menu._active .header__menu-list {
  display: block;
}
.header__menu-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #FF406E;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu-icon-burger {
  width: 18px;
  height: 12px;
  position: relative;
}
.header__menu-icon-burger span {
  position: absolute;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
}
.header__menu-icon-burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
}
.header__menu-icon-burger::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FF406E;
  width: 100%;
  height: 14%;
}
.header__menu-icon-text {
  display: none;
}
.header__menu-list {
  position: absolute;
  top: 70px;
  left: 0;
  box-shadow: 6px 12px 15px rgba(191, 31, 89, 0.42);
  border-radius: 0px 0px 10px 0px;
  max-width: 290px;
  width: 100%;
  display: none;
  z-index: 10;
}
.header__menu-item {
  border-top: 1px solid #E1B3F6;
  background: #fff;
}
.header__menu-item:last-child {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #F42758;
}
.header .hover:hover {
  background-color: #E1B3F6;
  color: #F42758;
}
.header__menu-item._active .header__sub-menu-list {
  display: block;
}
.header__menu-item._active .header__menu-link {
  color: #F42758;
}
.header__menu-link-image {
  transition: all 0.3s;
}
.header__menu-item._active .header__menu-link-image {
  transform: rotate(180deg);
}
.header__menu-item:not(:nth-child(1)) .header__sub-menu-list {
  overflow-y: scroll;
  height: 120px;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.header__menu-link {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: black;
  padding: 15px;
}
.header__sub-menu-list {
  padding-left: 15px;
  max-width: 275px;
  width: 100%;
  display: none;
}
.header__sub-menu-list::-webkit-scrollbar {
  width: 4px;
}
.header__sub-menu-list::-webkit-scrollbar-track {
  background-color: #E1B3F6;
}
.header__sub-menu-list::-webkit-scrollbar-thumb {
  background-color: #F42758;
  border-radius: 5px;
}
.header__sub-menu-item {
  font-size: 15px;
  line-height: 17px;
}
.header__sub-menu-item span {
  padding: 10px 0;
  max-width: 230px;
}
.header__sub-menu-link {
  padding: 10px 0;
  display: inline-block;
  color: black;
}
.header__sub-menu-link:last-child {
  padding-bottom: 15px;
}
.header__search._active .header__search-wrapper {
  display: block;
}
.header__search-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #FF406E;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__search-wrapper {
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  background-color: #F42758;
  height: 100%;
  width: 100%;
}
.header__search-box {
  margin-top: 30px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  padding: 11px 20px 11px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__search-txt {
  background-color: transparent;
}
.header__phone {
  display: none;
}
.header__inst {
  display: none;
}
.header__logo {
  margin: 0 auto;
}
.header__vk {
  display: none;
}
.header__profile {
  margin-right: 15px;
}

@media (min-width: 991px) {
  .header__menu-item:first-child {
    display: none;
  }
  .header__search {
    display: block;
  }
  .header__search-icon {
    display: none;
  }
  .header__search-wrapper {
    display: block;
    position: static;
    background-color: transparent;
    height: auto;
    width: auto;
  }
  .header__search-wrapper .container {
    padding: 0;
    margin: 0;
  }
  .header__search-box {
    margin-top: 0;
    width: 267px;
    border: 1px solid rgba(255, 64, 110, 0.5);
    border-radius: 5px;
  }
  .header__phone {
    margin-right: 15px;
    display: block;
  }
  .header__phone._active .header__phone-list {
    display: block;
  }
  .header__phone-icon {
    font-size: 18px;
    line-height: 22px;
    height: 40px;
    border: 1px solid #FF406E;
    padding: 0 22px;
    display: flex;
    align-items: center;
    width: 262px;
    border-radius: 5px;
    position: relative;
  }
  .header__phone-icon svg {
    width: 23px;
    height: 23px;
    margin-right: 10px;
  }
  .header__phone-list {
    position: absolute;
    top: 70px;
    width: 360px;
    display: none;
  }
  .header__phone-list li {
    border-top: 1px solid #E1B3F6;
  }
  .header__phone-link {
    width: 100%;
    padding: 12px 6px;
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    color: black;
    background-color: #fff;
  }
}
@media (min-width: 1200px) {
  .header__body {
    position: relative;
  }
}
.hover-two:hover {
  background-color: #FD5E7A;
  color: #fff;
  border: 1px solid #FD5E7A;
}